<% include partials/header %>

<div class="container ui main text segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src=<%= blog.image %> alt="Blog Image">
        </div>
        <div class="content">
            <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
            <!--Escaped output(轉義輸出) with <%= %> (escape function configurable（可配置轉義功能))
            Unescaped raw output(未轉義輸出) with <%- %>-->
            <!--簡單來說就是, 用 - 可以在文章裡使用html tag -->
            <p><%- blog.body %></p>
        </div>
    <a href="/">&larr; Go Back!</a>
    </div>
</div>

<% include partials/footer %>